## --------------------------------------------------
##if ( $entity.isJoinEntity() )
##cancel("No JPA class for join entity")
##end
## --------------------------------------------------
#checkId($entity)
#parse("include/init_var_entity.vm")
#parse("include/java_header.vm")
##---------------------------------------------------------------------------------------

#set($basePackage = "fr.uga.miage.m1.reactorexample")

package ${target.javaPackageFromFolder(${SRC})};

import ${basePackage}.data.models.${jpaEntityClass}Entity;
import ${basePackage}.models.${recordClass};
import org.mapstruct.Mapper;

/**
 * Mapper for the entity ${entity.name}.
 *
 * @author Telosys & kakaprout for m1miage2025
 *
 */

@Mapper
public interface ${jpaMapperClass} {

    ${entity.name}Entity to${entity.name}Entity(${recordClass} ${recordInstance});

    ${recordClass} to${recordClass}(${entity.name}Entity ${entity.name.toLowerCase()}Entity);
}
